<a href="https://colab.research.google.com/github/urness/CS167Code/blob/main/Day09_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Decision Trees

In [ ]:
import math
# here's the syntax for a log(Base 2)
for i in [.5,1,2,4,8,16,32,64]:
    print("log base 2 of", i, "is", math.log2(i))

log base 2 of 0.5 is -1.0
log base 2 of 1 is 0.0
log base 2 of 2 is 1.0
log base 2 of 4 is 2.0
log base 2 of 8 is 3.0
log base 2 of 16 is 4.0
log base 2 of 32 is 5.0
log base 2 of 64 is 6.0

In [9]:
import math
def entropy(percentage_list):
    #input: percentage_list consists of float values that sum to 1.0 
    #return: calculation of entropy for input percentages
    result = 0
    for percentage in percentage_list:
        if percentage != 0:
            result += -percentage*math.log2(percentage)
    return result

In [ ]:
#example of a calculation of entropy
entropy([2/6,4/6])

0.9182958340544896

In [ ]:
entropy([1/4, 1/4, 2/4])

1.5

In [3]:
import pandas
import numpy
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
restaurant = pandas.read_csv('/content/drive/MyDrive/CS167Spring22/datasets/restaurant.csv')
restaurant

    alt  bar  fri  hun   pat price rain  res     type    est target
0   Yes   No   No  Yes  Some   $$$   No  Yes   French   0-10    Yes
1   Yes   No   No  Yes  Full     $   No   No     Thai  30-60     No
2    No  Yes   No   No  Some     $   No   No   Burger   0-10    Yes
3   Yes   No  Yes  Yes  Full     $   No   No     Thai  10-30    Yes
4   Yes   No  Yes   No  Full   $$$   No  Yes   French    >60     No
5    No  Yes   No  Yes  Some    $$  Yes  Yes  Italian   0-10    Yes
6    No  Yes   No   No  None     $  Yes   No   Burger   0-10     No
7    No   No   No  Yes  Some    $$  Yes  Yes     Thai   0-10    Yes
8    No  Yes  Yes   No  Full     $  Yes   No   Burger    >60     No
9   Yes  Yes  Yes  Yes  Full   $$$   No  Yes  Italian  10-30     No
10   No   No   No   No  None     $   No   No     Thai   0-10     No
11  Yes  Yes  Yes  Yes  Full     $   No   No   Burger  30-60    Yes

In [10]:
#Patrons expected entropy
restaurant[['pat', 'target']].sort_values(['pat','target'])

     pat target
1   Full     No
4   Full     No
8   Full     No
9   Full     No
3   Full    Yes
11  Full    Yes
6   None     No
10  None     No
0   Some    Yes
2   Some    Yes
5   Some    Yes
7   Some    Yes

In [12]:
#calculate entropy
entropy_patrons_full = entropy([4/6,2/6]) # 4/6 was No; 2/6 was Yes
entropy_patrons_none = entropy([2/2,0/2])
entropy_patrons_some = entropy([0/4,4/4])

# calculate expected_entropy (weighted average)
expected_entropy_patrons = 6/12*entropy_patrons_full + 2/12*entropy_patrons_none + 4/12*entropy_patrons_some
expected_entropy_patrons

0.4591479170272448

In [14]:
#calculate information gain (prior entropy - expected entropy)
information_gain_patrons = 1.0 - expected_entropy_patrons
information_gain_patrons

0.5408520829727552

In [16]:
restaurant[['hun', 'target']].sort_values(['hun','target'])

    hun target
4    No     No
6    No     No
8    No     No
10   No     No
2    No    Yes
1   Yes     No
9   Yes     No
0   Yes    Yes
3   Yes    Yes
5   Yes    Yes
7   Yes    Yes
11  Yes    Yes

In [ ]:
# exercise #2

In [ ]:
#Friday expected entropy
5/12*entropy([2/5,3/5]) + 7/12*entropy([4/7,3/7])

0.979279160376092